@mixin containerPadding {
  padding: 15px;
  box-sizing: border-box;
}

@mixin headerSpacing {
  padding: 60px 15px 100px;
}

@mixin verticalScrollable {
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}
