.SliderItem {
  height: 100%;
  display: flex;
  flex-direction: column;

  &__title,
  &__chart,
  &__items,
  &__cta {
    padding: 10px 20px;
  }

  &__title {
    flex: 1 0 0;

    h3 {
      display: flex;
      justify-content: space-between;
    }
  }

  &__chart {
    flex: 7 0 0;
  }

  &__items {
    flex: 5 0 0;
    overflow-y: auto;
    overflow-x: hidden;

    .TrackerView {
      &__item {
        display: flex;
        margin: 5px 0;
        justify-content: space-between;
      }
    }
  }

  &__cta {
    flex: 1 0 0;
    padding-top: 10px;
    position: relative;
    transform: translate(0, 100%);
    transition: all .5s ease-in;
    box-shadow: 1px -1px 8px rgba(0, 0, 0, .15);

    &.open {
      transform: translate(0, 0);

      .SliderItem__cta--toggle {
        transform: rotate(405deg);
      }
    }

    &--toggle {
      top: -75px;
      right: 20px;
      cursor: pointer;
      padding: 15px 17px;
      position: absolute;
      background: #4d97ec;
      border-radius: 100px;
      transition: all .5s ease-in;

      &.open {
        transform: rotate(405deg);
      }

      svg {
        color: #fff;
        font-size: 32px;
      }
    }

    &--hidden {
      textarea,
      .Btn {
        width: 100%;
      }

      textarea {
        padding: 15px;
        height: 100px;
        margin-top: 7px;
        margin-bottom: 10px;
        border: 1px solid #eee;
        box-sizing: border-box;
        transition: all .5s ease-in;

        &:hover {
          border: 1px solid #aaa;
        }

        &:focus {
          outline: none;
          border: 1px solid #333;
        }
      }
    }
  }
}
